name: Development branch - Test and build api and vue

on:
  push:
    branches:
    - development
    
jobs:
  build-api:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1.7.2
    - name: Install dependencies
      run: dotnet restore
      working-directory: src/
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: src/
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: src/
  
  build-vue:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: MinesweeperVue
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
      - name: Installing project dependencies
        run: npm install
        working-directory: src/MinesweeperVue
      - name: Building the project
        run: npm run build
        working-directory: src/MinesweeperVue
